<nav class="navbar navbar-dark bg-danger">

  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" style="position: absolute; left: 5px;" [routerLink]="['/home']" routerLinkActive="active">
      <img width="30px" height="30px" src="./../../assets/img/pokebola.png">
    </a>

    <a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="active">
      <img width="200px" src="./../../assets/img/pokemon-logo.png">
    </a>

  </div>
</nav>
